.path-frontpage .region-content > .layout--twocol-section.layout--twocol-section--50-50 {
  margin-top: 50px;
  margin-bottom: 48px;

  @media(max-width: $second-breakpoint) {
    flex-direction: column;
  }

  & > .layout__region--first {
    flex: 0 1 25%;
    padding: 0 20px;

    @media(max-width: $first-breakpoint) {
      padding: 0;
    }
  }

  & > .layout__region--second {
    flex: 0 1 75%;
    padding: 0 20px;

    @media(max-width: $first-breakpoint) {
      padding: 0;
    }
  }

  .layout--twocol-section.layout--twocol-section--50-50 {
    @media(max-width: $second-breakpoint) {
      flex-direction: column;
    }

    & > .layout__region--first {
      flex: 0 1 calc(100% - 340px);
      padding-left: 20px;
      padding-right: 20px;
      gap: 47px;
      display: flex;
      flex-direction: column;

      @media(max-width: $first-breakpoint) {
        padding-right: 0;
      }

      @media(max-width: $desktop) {
        flex: 0 1 calc(100% - 224px);
      }
    }

    & > .layout__region--second {
      flex: 0 1 340px;
      padding-left: 20px;
      padding-right: 20px;
      gap: 47px;
      display: flex;
      flex-direction: column;

      @media(max-width: $first-breakpoint) {
        padding-right: 0;
        padding-left: 14px;
      }

      @media(max-width: $desktop) {
        flex: 0 1 224px;
      }
    }
  }
}

.layout--threecol-section {
  flex-wrap: nowrap;
  gap: 40px;
}

.path-food-page,
.path-entertainment-page,
.path-travel-page,
.path-fashion-full-page,
.path-technology-full-page,
.path-celebrities-page,
.path-movies-page,
.path-tv-full-page,
.path-music-page,
.path-games-page {
  .region-content > .layout--twocol-section.layout--twocol-section--50-50 {
    & > .layout__region--first {
      flex: 0 1 calc(100% - 364px);
      padding-left: 20px;
      padding-right: 20px;
    }

    & > .layout__region--second {
      flex: 0 1 364px;
      padding: 20px 32px;
      background-color: #f9f9f9;
      display: flex;
      flex-direction: column;
      gap: 48px;
      height: max-content;
    }
  }
}
