$color-white: #ffffff;
$color-black: #000;
$color-black111: #111111;

$color-gray: #383838;
$color-gray100: #e1e1e1;
$color-gray200: #666666;
$color-gray300: #595959;


$color-yellow: #f5b000;
$color-yellow100: #ffcd3f;

$color-blue300: #417096;
$color-blue200: #516eab;
$color-blue100: #29c5f6;
$color-blue: #4db2ec;
$color-blue-light: #f9f9f9;

$color-red: #e14e42;

$color-text: #767676;
$color-border: #eaeaea;
