.layout--threecol-section  {
  padding-top: 20px;
  padding-bottom: 50px;

  h2 {
    font-size: 26px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 26px;
    line-height: 26px;
    padding: 0;
    letter-spacing: -0.6px;
  }

  p {
    color: $color-gray200;;
    font-family: Merriweather, sans-serif;
    line-height: 1.5;
    font-weight: 300;
  }

  .field--name-field-logo {
    color: $color-black;
  }

  .field--name-field-sublogo {
    color: $color-gray300;
  }

  .layout__region--second{
    width: 50%;

    a {
      color: $color-yellow;
      text-decoration: unset;
    }
  }
}

[class *= "layout__region--"] {
  .facebook::before {
    width: 9px;
    height: 18px;
  }

  .instagram::before {
    width: 15px;
    height: 18px;
  }

  .twitter::before {
    width: 17px;
    height: 15px;
  }

  .facebook:hover,
  .instagram:hover,
  .twitter:hover {
    &::before {
      filter: invert(59%) sepia(78%) saturate(911%) hue-rotate(8deg) brightness(101%) contrast(111%);
    }
  }
}
