.path-frontpage [class *= block-views-blockcelebrities-] {
  h2 {
    margin-bottom: 26px;
  }

  .view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

    .views-row:first-of-type {
      width: 100%;
      max-width: unset;
      margin-bottom: 28px;

      img {
        max-height: 364px;
      }

      .field--name-field-category {
        .field__item {
          display: flex;
          justify-content: center;
        }

        a {
          top: -38px;
          padding: 8px 12px 7px;
          font-weight: 600;
        }
      }

      h2 {
        text-align: center;
        margin-bottom: 4px;
        line-height: 38.4px;
        letter-spacing: 1px;

        span {
          font-size: 32px;
        }
      }

      .node__submitted {
        display: block;
        text-align: center;

        a {
          @include authoredBy;
          font-weight: 400;

        }
      }

      .field--name-field-description p {
        text-align: center;
      }
    }

    .views-row {
      position: relative;
      width: 50%;
      max-width: 252px;

      img {
        height: auto;
        max-height: 126px;
        object-fit: cover;
        width: 100%;
        margin-bottom: 23px;
      }

      .field--name-field-category {
        position: absolute;
        width: 100%;

        a {
          position: absolute;
          top: -35px;
          @include small-category;
        }
      }

      h2 {
        margin-bottom: 4px;
        line-height: 22px;

        span {
          font-size: 20px;
          font-weight: 600;
        }
      }

      .field--name-field-description p {
        font-family: Merriweather, sans-serif;
        margin-bottom: 0;
        color: $color-text;
        font-weight: 300;
      }

      .node__submitted {
        display: none;
      }
    }
  }
}
