.block-field-blocknodenewscomment {
  .comment-form__title {
    display: none;
  }

  .form-item-name {
    display: none;
  }

  .field--name-comment-body {
    .form-type-textarea {
      label {
        text-transform: uppercase;
        &::after {
          display: none;
        }
      }
    }
    .filter-wrapper {
      display: none;
    }
  }

  .comment-comment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    .field--name-comment-body {
      flex-basis: 100%;
    }
    .field--name-field-user-name,
    .field--name-field-user-email,
    .field--name-field-website {
      flex-basis: 32%;
      .form-item {
        margin-top: 0;
      }
    }

    .field--name-field-save-me {
      flex-basis: 100%;
      .form-item {
        margin-top: 0;
      }
    }

    .form-actions {
      & input:last-child {
        display: none;
      }
      .btn {
        background-color: #f5b000;
        padding: 12px 18px 11px;
        font-family: Fira Sans, sans-serif;
        font-size: 11px;
        line-height: 1;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-radius: 0;
        border: none;
        transition: background-color .4s;

        &:hover {
          background-color: #222222;
        }
      }
    }
  }
}
