[class *= "block-views-blockfashion-short-block-"] {
  h2 {
    margin-bottom: 16px;
  }

  .view-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @media(max-width: $second-breakpoint) {
      flex-direction: column;
    }

    .views-row {
      width: calc(50% - 20px);

      @media(max-width: $second-breakpoint) {
        width: 100%;
      }

      h2 {
        line-height: 24px;
        font-size: 16px;
        font-family: Merriweather, sans-serif;
        font-weight: 800;
        margin-bottom: 10px;

        @media(max-width: $first-breakpoint) {
          line-height: 19.6px;
        }

        @media(max-width: $desktop) {
          line-height: 18.2px;
        }

        @media(max-width: $second-breakpoint) {
          line-height: 24px;
        }
      }

      .username {
        @include authoredBy;

        &::after {
          content: '-';
          padding-left: 5px;
          color: $color-text;
        }

        @media(max-width: $desktop) {
          display: none;
        }

        @media(max-width: $second-breakpoint) {
          display: inline-block;
        }
      }

      .node__submitted {
        @include date;
      }
    }
  }
}
