.view-id-featured {
  position: relative;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 48px;


  @media(max-width: $first-breakpoint) {
    padding: 0 20px;
  }

  @media(max-width: $desktop) {
    gap: unset;
  }

  @media(max-width: $second-breakpoint) {
    flex-direction: column;
    padding: 0;

    h2 {
      font-size: 28px;
    }
  }

  .view-header {
    width: 100%;
    padding: 0 10px;
    max-width: 206px;

    @media(max-width: $second-breakpoint) {
      max-width: 100%;
      margin-bottom: 10px;
      padding: 0;
      margin-left: 20px;
    }

    p {
      @include textDescription;
    }

    a {
      @include authoredBy;
      position: relative;
      font-size: 13px;
      font-weight: 500;

      &:after {
        content: ' ';
        background-image: url("../assets/images/icons/arrow-right-black.png");
        background-size: cover;
        width: 12px;
        height: 16px;
        position: absolute;
        right: -16px;
        top: -1px;
      }

      &:hover,
      &:hover::after {
        color: $color-yellow;
        filter: invert(54%) sepia(91%) saturate(769%) hue-rotate(11deg) brightness(107%) contrast(106%);
      }

      @media(max-width: $second-breakpoint) {
        display: none;
      }
    }
  }

  .views-col {
    width: 33.33% !important;

    @media(max-width: $second-breakpoint) {
      width: 100% !important;
    }
  }

  .views-row {
    @media(max-width: $second-breakpoint) {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }

  .pager__item--previous a,
  .pager__item--next a {
    background-color: unset;
    position: relative;
    border: unset;

    &:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background-size: cover;
      left: 15px;

      @media(max-width: $first-breakpoint) {
        left: 60px;
      }

      @media(max-width: $second-breakpoint) {
        left: 40px;
      }
    }

    &:hover::before {
      filter: invert(76%) sepia(53%) saturate(3828%) hue-rotate(5deg) brightness(102%) contrast(100%);
    }

    span {
      display: none;
    }

    &:hover,
    &:active {
      background-color: unset;
      box-shadow: none;
      border: unset;
    }
  }

  .pager__item--next a::before {
    background-image: url("../assets/images/icons/thin-arrow-right.png");
  }

  .pager__item--previous a::before {
    background-image: url("../assets/images/icons/thin-arrow-left.png");
  }

  .node--view-mode-vertical-short-format-category {
    position: relative;
    margin-right: 14px;

    @media(max-width: $second-breakpoint) {
      margin-right: 0;
    }

    .content {
      @media(max-width: $second-breakpoint) {
        margin-left: 20px;
      }
    }

    img {
      width: 100%;
      height: 146px;
      object-fit: cover;
      margin-bottom: 20px;

      @media(max-width: $first-breakpoint) {
        height: 100%;
        max-height: 130px;
        min-height: 91px;
      }

      @media(max-width: $second-breakpoint) {
        max-height: 366px;
      }
    }

    .field--name-field-category {
      position: absolute;
      width: 100%;

      a {
        @include small-category;
        position: absolute;
        bottom: 10px;
      }
    }

    h2 {
      margin-bottom: 6px;
      line-height: 16px;

      @media(max-width: $first-breakpoint) {
        line-height: 15.4px;
      }

      @media(max-width: $desktop) {
        line-height: 10.2px;
      }

      @media(max-width: $second-breakpoint) {
        line-height: 19.8px;
      }

      span {
        font-family: Fira Sans, sans-serif;
        font-weight: 600;

        @media(max-width: $first-breakpoint) {
          font-size: 14px;
          font-weight: 700;
        }

        @media(max-width: $desktop) {
          font-size: 12px;
          font-weight: 500;
        }

        @media(max-width: $second-breakpoint) {
          font-size: 18px;
        }
      }
    }

    .node__submitted {
      @include date;
    }

    .field--name-uid {
      display: none;
    }
  }

  .pager__item--last,
  .pager__item--first,
  .disabled {
    display: none;
  }

  .view-content {
    margin-bottom: 45px;
  }

  nav {
    position: absolute;
    bottom: -20px;
    left: 25%;

    @media(max-width: $second-breakpoint) {
      left: 0;
    }
  }

  .js-pager__items .page-item:first-child .page-link {
    border: unset;
  }
}
