[class *= "block-views-blocklatest-news-"],
.view-id-must_read {
  padding-left: 6px;
  padding-right: 6px;

  .views-row {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: -15px;
      width: 100%;
      height: 1px;
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: $color-border;
    }

    &:first-of-type::after {
      content: none;
    }

    &:last-of-type {
      padding: 0;
      margin: 0;
    }

    h2 {
      margin-bottom: 0;
      line-height: 20px;
    }
  }

  img {
    height: 134px;
    object-fit: cover;
    margin-bottom: 13px;
    background-color: #0a6fb4;
  }

  .field--name-field-description p {
    margin-bottom: 0;
    font-family: Merriweather, sans-serif;
    color: $color-text;
  }

  .category-and-date {
    display: flex;
    align-items: center;
    gap: 14px;

    .field--name-field-category a {
      @include authoredBy;
    }

    .node__submitted {
      @include date;
      color: $color-yellow100;
    }
  }
}

.view-id-must_read {
  img {
    height: 150px;
  }

  .node__submitted {
    display: flex;
    gap: 14px;
    color: $color-yellow100;

    .field--name-field-category a {
      @include authoredBy;
    }
  }
}

@media(max-width: $first-breakpoint) {
  [class *= "block-views-blocklatest-news-"],
  .view-id-must_read {
    img {
      height: auto;
      max-height: 127px;
    }

    h2 {
      line-height: 1.4;
    }

    h2 span {
      font-size: $base_size;
      font-weight: 800;
    }

    .field--name-field-description p {
      font-size: 12px;
    }
  }
}

@media(max-width: $desktop) {
  [class *= "block-views-blocklatest-news-"],
  .view-id-must_read {
    h2 span {
      font-size: 13px;
    }

    .field--name-field-description p {
      font-size: 11px;
    }
  }
}
