@import "../mixins/mixins_buttons";

.view-music-festival,
.view-category-related-block {
  margin-bottom: 100px;
  margin-top: 50px;
  width: calc(100vw - 15px);
  max-width: 1400px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  overflow: hidden;
  padding: 0 24px;

  @media(max-width: $second-breakpoint) {
    padding: unset;
  }

  @media(max-width: $second-breakpoint) {
    margin-bottom: 0;
  }

  .view-header {
    text-align: center;
    padding-top: 20px;
    overflow: hidden;

    .td-block-title {
      font-family: 'Open Sans', arial, sans-serif;
      font-size: 55px;
      font-weight: bold;
      letter-spacing: -4px;
      line-height: 1;
      margin-bottom: 48px;

      span {
        padding: 0 20px 10px;
        font-family: Fira Sans, sans-serif;
        font-size: 54px;
        letter-spacing: -2px;

        @media(max-width: $first-breakpoint) {
          font-size: 46px;
        }

        @media(max-width: $desktop) {
          font-size: 40px;
        }

        @media(max-width: $second-breakpoint) {
          font-size: 32px;
        }
      }

      .td-block-speech-bubble {
        font-family: 'Open Sans', arial, sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -0.6px;
        padding: 4px 8px;
        background-color: $color-black;
        color: $color-white;
        position: absolute;
        border-radius: 3px 3px 3px 0;
        margin-left: 6px;
        top: 16px;
        text-transform: uppercase;

        &:before {
          content: '';
          position: absolute;
          top: 100%;
          left: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px 6px 0 0;
          border-color: $color-black transparent transparent transparent;
        }
      }

      .td-block-subtitle {
        display: table;
        font-family: 'Open Sans', arial, sans-serif;
        font-size: 15px;
        line-height: 1;
        font-style: italic;
        font-weight: normal;
        letter-spacing: normal;
        color: $color-yellow;
        position: relative;
        margin: 10px auto;
        text-transform: none;
        max-width: 80%;

        @media(max-width: $second-breakpoint) {
          font-size: 13px;
        }

        &:before {
          content: '';
          left: 100%;
          margin: auto 0 auto 20px;
          position: absolute;
          height: 1px;
          width: 1500px;
          top: 3px;
          bottom: 0;
          background-color: #e3e3e3;
        }

        &:after {
          content: '';
          right: 100%;
          margin: auto 20px auto 20px;
          position: absolute;
          height: 1px;
          width: 1500px;
          top: 3px;
          bottom: 0;
          background-color: #e3e3e3;
        }
      }
    }
  }

  .view-content {
    display: flex;
    gap: 48px;

    @media(max-width: $desktop) {
      gap: 20px;
    }

    @media(max-width: $second-breakpoint) {
      flex-direction: column;
      gap: 40px;
    }

    .views-row {
      position: relative;
      width: 25%;
      text-align: center;

      @media(max-width: $second-breakpoint) {
        width: 100%;
      }

      img {
        width: 312px;
        height: 312px;
        object-fit: cover;
        margin-bottom: 13px;

        @media(max-width: $first-breakpoint) {
          width: 246px;
          height: 246px;
        }

        @media(max-width: $desktop) {
          width: 232px;
          height: 232px;
        }

        @media(max-width: $second-breakpoint) {
          width: 100%;
          height: auto;
          max-height: 360px;
        }
      }

      .field--name-field-category {
        width: 100%;
        position: absolute;
        text-align: center;

        .field__item {
          display: flex;
          justify-content: center;
        }

        a {
          @include small-category;
          bottom: 3px;
          position: absolute;
        }
      }

      h2 {
        line-height: 22px;
        padding: 0 10px;

        @include media_for_h2;

        @media(max-width: $second-breakpoint) {
          @include media_for_h2_big;
        }

        span {
          font-family: Fira Sans,sans-serif;
          font-size: 20px;
          font-weight: 600;

          @include media_for_span;

          @media(max-width: $second-breakpoint) {
            @include media_for_span_big;
          }
        }
      }

      .field--name-field-description {
        width: unset;

        p {
         margin: 4px auto;
         @include textDescription;
        }
      }

      .node__submitted a {
        @include authoredBy;
      }
    }

    .views-row:nth-child(2n) {
      width: 50%;

      @media(max-width: $second-breakpoint) {
        width: 100%;
      }

      img {
        width: 100%;
        max-width: 672px;
        height: 450px;
        margin-bottom: 23px;

        @media(max-width: $first-breakpoint) {
          height: 348px;
        }

        @media(max-width: $desktop) {
          height: 321px;
        }

        @media(max-width: $second-breakpoint) {
          width: 100%;
          max-width: unset;
          height: auto;
          max-height: 360px;
        }
      }

      .field--name-field-category {
        a {
          font-size: 15px;
          font-weight: 600px;
          bottom: 12px;

          @media(max-width: $first-breakpoint) {
            @include small-category;
          }
        }
      }

      h2 {
        line-height: 1.1;
        margin: 0 auto;

        @include media_for_h2_big;

        span {
          font-size: 32px;
          @include media_for_span_big;
        }
      }
    }
  }
}
