[class *= "block-views-blockeditor-picks-"],
[class *= "block-views-blockmust-read-short-"],
[class *= "block-views-blocktv-short-"],
[class *= "block-views-blockfood-drink-"] {

  h2 {
    margin-bottom: 16px;
  }

  .node__content {
    display: flex;
    gap: 14px;
    margin-bottom: 25px;

    img {
      width: 111px;
      max-width: unset;
      height: 78px;
      object-fit: cover;
    }

    h2 {
      margin-bottom: 6px;
      line-height: 17.6px;

      @media(max-width: $first-breakpoint) {
        line-height: 15.4px;
      }

      @media(max-width: $desktop) {
        line-height: 13.2px;
      }

      @media(max-width: $second-breakpoint) {
        line-height: 15.6px;
      }

      span {
        font-size: $small-title;
        font-family: "Fira Sans", sans-serif;
        font-weight: 600;

        @media(max-width: $first-breakpoint) {
          font-size: 14px;
        }

        @media(max-width: $desktop) {
          font-size: 12px;
        }

        @media(max-width: $second-breakpoint) {
          font-size: 16px;
        }
      }
    }

    .node__submitted {
      @include date;
    }
  }
}

[class *= "block-views-blocktv-short-"],
[class *= "block-views-blockfood-drink-"] {
  width: 100%;
  max-width: 300px;

  @media(max-width: $second-breakpoint) {
    padding: 0 20px;
    max-width: unset;

    .field--name-field-image {
      width: 100%;
      max-width: 204px;
    }

    .content {
      width: 100%;
    }
  }

  .node__content img {
    height: 90px;
    width: 90px;

    @media(max-width: $desktop) {
      height: 60px;
      width: 60px;
    }

    @media(max-width: $second-breakpoint) {
      width: 100%;
      height: 100%;
      max-width: 204px;
    }
  }
}

@media(max-width: $first-breakpoint) {
  [class *= "block-views-blockeditor-picks-"],
  [class *= "block-views-blockmust-read-short-"] {
    .node__content img {
      width: 100px;
      height: 70px;
    }
  }
}

@media(max-width: $second-breakpoint) {
  [class *= "block-views-blockeditor-picks-"],
  [class *= "block-views-blockmust-read-short-"] {
    .node__content img {
      width: 100%;
      height: 100%;
      max-width: 212px;
    }

    .field--name-field-image {
      width: 100%;
      max-width: 212px;
    }

    .content {
      width: 100%;
    }
  }
}
