[class *= "block-views-blocktechnology-short-block-"] {
  @media(max-width: $second-breakpoint) {
    padding: 0 20px;
  }

  h2 {
    margin-bottom: 16px;
    font-weight: 800;
  }

  .views-row {
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .node--type-news {
    display: flex;
    gap: 20px;

    @media(max-width: $second-breakpoint) {
      gap: 10px;
    }

    img {
      max-width: 163px;
      height: auto;
      object-fit: cover;

      @media(max-width: $first-breakpoint) {
        max-width: 140px;
      }

      @media(max-width: $desktop) {
        max-width: 148px;
      }

      @media(max-width: $second-breakpoint) {
        max-width: 212px;
      }
    }

    .content-side {
      h2 {
        margin-bottom: 4px;
        line-height: 22px;

        @include media_for_h2;

        span {
          font-size: 20px;
          font-weight: 600;
          font-family: 'Fira Sans', sans-serif;

          @include media_for_span;
        }
      }

      .field--name-field-description {
        p {
          margin-bottom: 10px;
          line-height: 1.5;
          font-weight: 300;
          color: $color-text;
        }

        @media(max-width: $first-breakpoint) {
          display: none;
        }
      }

      .node__meta {
        padding: 0;
        @include date;
      }

      .username {
        @include authoredBy;

        &::after {
          content: '-';
          padding-left: 5px;
          color: $color-text;
        }

        @media(max-width: $second-breakpoint) {
          display: none;
        }
      }
    }
  }
}
