[class *= "block-views-blocktechnology-short-block-"] {
  h2 {
    margin-bottom: 16px;
    font-weight: 800;
  }

  .views-row {
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .node--type-news {
    display: flex;
    gap: 20px;

    img {
      max-width: 163px;
      height: auto;
      object-fit: cover;
    }

    .content-side {
      h2 {
        margin-bottom: 4px;
        line-height: 22px;

        span {
          font-size: 20px;
          font-weight: 600;
          font-family: 'Fira Sans', sans-serif;
        }
      }

      .field--name-field-description p {
        margin-bottom: 10px;
        line-height: 1.5;
        font-weight: 300;
        color: $color-text;
      }

      .node__meta {
        padding: 0;
        color: $color-text;
      }

      .username {
        @include authoredBy;

        &::after {
          content: '-';
          padding-left: 5px;
          color: $color-text;
        }
      }
    }
  }
}
